@charset "utf-8";

// Set colors
$back-yellow: rgb(255, 255, 233);
$light-yellow: rgb(255, 247, 211);

//bulma
$danger: $light-yellow;
$body-background-color: $back-yellow;
$control-border-width: 2px;

@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/icon.sass";
@import "./node_modules/bulma/sass/elements/image.sass";
@import "./node_modules/bulma/sass/elements/progress.sass";
@import "./node_modules/bulma/sass/elements/table.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";

.navbar-start {
  flex-grow: 1;
  justify-content: center;
  margin-right: auto;
}
.progressTable {
  width: 80%;
}

.title-0{
  margin-top: 0.3em;
}

$sizes: (0, 1, 2, 3, 4, 5, 6);
$positions: (("t", "top"), ("r", "right"), ("b", "bottom"), ("l", "left"));

@each $size in $sizes {
  .m-#{$size} {
    margin: $size + em;
  }
  .p-#{$size} {
    padding: $size + em;
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .m-#{$posKey}-#{$size} {
      margin-#{$posValue}: $size + em;
    }
    .p-#{$posKey}-#{$size} {
      padding-#{$posValue}: $size + em;
    }
  }
}